---
title: Casper Fermentables
---
.container
  .logo
    = image_tag 'images/logo.jpg'
  %nav
    = link_to 'Home', '/'
    |
    = link_to 'About', '/about.html'
    |
    = link_to 'Order', '/'
    |
    = link_to 'Contact', '/'